{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'gamesapp/styles.css' %}">
        <title>Nagames</title>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% comment %} <nav id='menu'>
            <ul>
                <li><a href="{% url 'index' %}">Accueil</a></li>
            </ul>
        </nav> {% endcomment %}
        <div id='block_central'>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>